.main-container {
  max-width: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 10px 20px 20px;
  margin: 20px auto;
}

.status {
  text-align: center;
  color: hsl(180, 100%, 70%);
}

.counter-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-bar-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bolder;
  color: hsl(180, 100%, 70%);
}

button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

button.decrement {
  background-color: hsl(180, 80%, 50%);
  color: white;
}

button.decrement:hover {
  background-color: hsl(180, 80%, 70%);
}

button.increment {
  background-color: blue;
  color: white;
}

button.increment:hover {
  background-color: hsl(240, 100%, 70%);
}
